*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#time {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#count {
    font-size: 36px;
    margin-top: 20px;
}

#count-per-second {
    font-size: 24px;
    margin-top: 10px;
}

.record {
    font-size: 24px;
    margin-top: 20px;
}
